@{
    ViewData["Title"] = "Login";
}
<link rel="stylesheet" href="~/css/Account/Account.css" />
<div class="modal fade" id="loginModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="card-header">
                <h3 class="mb-0">Đăng nhập</h3>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="form-group">
                        <label>Tên</label>
                        <input class="form-control" id="userName" type="text" required>
                    </div>
                    <div class="form-group">
                        <label>Mật khẩu</label>
                        <input class="form-control" id="pwd" type="password" required>
                    </div>
                    <p id="status" class="text-center text-danger" style="height: 15px;">@ViewBag.LoginStatus</p>
                    <button id="buttonLogin" class="btn btn-primary btn-lg float-right" style="width: 20%">
                        <span id="buttonText">Login</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    //Show modal
    $('#loginModal').modal({
        backdrop: 'static',
        keyboard: false
    });
    //Events
    $('#userName').keyup(function (e) {
        if (e.keyCode == 13) {
            DoLogin();
        }
    });
    $('#pwd').keyup(function (e) {
        if (e.keyCode == 13) {
            DoLogin();
        }
    });
    $('#buttonLogin').click(function () {
        DoLogin();
    });
    //Action
    function DoLogin() {
        //Remove status
        $('#status').text('');
        //Get values
        var userName = $('#userName').val();
        var pwd = $('#pwd').val()
        //Check empty
        if (!userName || !pwd) {
            $('#status').text('Vui lòng điền đầy đủ thông tin');
            return;
        }
        //Disable buttons
        $('#buttonLogin').attr("disabled", true);
        ButtonLoading();
        //Post cred
        $.post('DoLogin',
            {
                userName: $('#userName').val(),
                pwd: $('#pwd').val()
            },
            function (data, status) {
                try {
                    if (status != 'success') {
                        $('#status').text('Lỗi máy chủ');
                        return;
                    }
                    if (data.Valid) {
                        //Hide modal
                        $('#loginModal').modal('hide');
                        //Wait for animation then proceed
                        setTimeout(function () {
                            window.location.href = '/';
                        }, 150);
                    }
                    else {
                        $('#status').text(data.Message);
                    }
                } finally {
                    $("#buttonLogin").removeAttr('disabled');
                    ButtonNormal();
                }
            });
        function ButtonLoading() {
            $('#buttonText').text('').addClass('fas fa-spinner fa-pulse');
        }
        function ButtonNormal() {
            $('#buttonText').text('Login').removeClass();
        }
    }
</script>
