<ul class="nav navbar-nav navbar-right">
    @using System.Security.Claims;
    @if (!User.Identities.Any(u => u.IsAuthenticated))
    {
        <li><a asp-area="" asp-controller="Account" asp-action="Login">Login</a></li>
    }
    else
    {
        <li>
            <a asp-area="" asp-controller="Account" asp-action="Info">
                Xin chào!
                @User.Identities.First(u => u.IsAuthenticated &&
                                     u.HasClaim(c => c.Type == ClaimTypes.Name)).FindFirst(ClaimTypes.Name).Value
            </a>
        </li>
        <li><a asp-area="" asp-controller="Account" asp-action="LogOut">Thoát</a></li>
    }
</ul>